[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 128x128x32, Phase 25 GEMM_M tail pilot
# See igemm_fwd_gtc_gfx1250_nhwc_bf16_mtail.config's header comment for the full
# explanation -- identical tile shape, fp16 instead of bf16.
[igemm_fwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 32
wmma_tile_m              = 16
wmma_repeat_m            = 4
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 32, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 128]
tensor_b_thread_lengths  = [1, 32, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 128]
direction                = "fwd"
precision                = "fp16"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
wmma_m_tail              = 1
