[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 32x32x96, row_stride addressing (fp32, K=96, row_stride=3)
[igemm_wrw_gtc]
gemm_m_per_block         = 32
gemm_n_per_block         = 32
gemm_k_per_block         = 96
wmma_tile_m              = 16
wmma_repeat_m            = 2
wmma_tile_n              = 16
wmma_repeat_n            = 2
tensor_a_thread_lengths  = [1, 96, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 32]
tensor_b_thread_lengths  = [1, 96, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 32]
direction                = "wrw"
precision                = "fp32"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
