[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 128x128x4, Phase 26b GEMM_N tail
# gemm_k_per_block=4 since v_wmma_f32_16x16x4_f32 has K=4 (see the base fp32 config). See
# igemm_fwd_gtc_gfx1250_nhwc_bf16_ntail.config's header comment for the full explanation.
[igemm_fwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 4
wmma_tile_m              = 16
wmma_repeat_m            = 4
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 4, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 128]
tensor_b_thread_lengths  = [1, 4, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 128]
direction                = "fwd"
precision                = "fp32"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
wmma_n_tail              = 1
