[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 128x128x32, gemm_k_global_split + Phase 35 K-tail relief --
# identical to igemm_wrw_gtc_gfx1250_nhwc_bf16_gsplit.config except wmma_k_tail=1.
# See docs/gfx1250_wmma_layout.md's Phase 35.
[igemm_wrw_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 32
wmma_tile_m              = 16
wmma_repeat_m            = 4
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 32, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 128]
tensor_b_thread_lengths  = [1, 32, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 128]
direction                = "wrw"
precision                = "bf16"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
gemm_k_global_split      = 1
wmma_k_tail              = 1

#########################################################################################
#--------------------------- 64x64x32 gemm_k_global_split + Phase 35 K-tail relief
[igemm_wrw_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 64
gemm_k_per_block         = 32
wmma_tile_m              = 16
wmma_repeat_m            = 2
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 32, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 64]
tensor_b_thread_lengths  = [1, 32, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 64]
direction                = "wrw"
precision                = "bf16"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
gemm_k_global_split      = 1
wmma_k_tail              = 1
