[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 64x64x128, row_stride addressing pilot (fp16)
# fp16 mirror of bf16_64x64_k128.config -- same row_stride=2 code path
# (docs/gfx1250_wrw_addressing_redesign.md), inst_wmma.k=32 same as bf16 so
# chunks_per_row is identical. Single group, no split-K/streamk/TDM.
[igemm_wrw_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 64
gemm_k_per_block         = 128
wmma_tile_m              = 16
wmma_repeat_m            = 2
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 128, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 64]
tensor_b_thread_lengths  = [1, 128, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 64]
direction                = "wrw"
precision                = "fp16"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
