[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 32x32x96, row_stride addressing (K=96, row_stride=3)
# gemm_k_per_block=96 doesn't divide gemm_m_per_block=64 evenly (96/64=1.5) -- needs the
# smaller 32x32 tile instead (96/32=3, an integer -- row_stride doesn't need to be a
# power of 2, only gemm_k_per_block % gemm_m_per_block == 0, see
# docs/gfx1250_wrw_addressing_redesign.md). Single wave
# (block_size=32=gemm_m_per_block=gemm_n_per_block, same wmma_tile/repeat combo as
# config/igemm_bwd_gtc_gfx1250_nhwc_bf16_32x32.config). Single group, no
# split-K/streamk/TDM.
[igemm_wrw_gtc]
gemm_m_per_block         = 32
gemm_n_per_block         = 32
gemm_k_per_block         = 96
wmma_tile_m              = 16
wmma_repeat_m            = 2
wmma_tile_n              = 16
wmma_repeat_n            = 2
tensor_a_thread_lengths  = [1, 96, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 32]
tensor_b_thread_lengths  = [1, 96, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 32]
direction                = "wrw"
precision                = "bf16"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
