[codegen]
arch = 'gfx1250'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 128x128x4, non-atomic epilogue + Phase 35 M/N-tail relief
# fp32 sibling of igemm_wrw_gtc_gfx1250_nhwc_bf16_mntail.config -- see that file and
# docs/gfx1250_wmma_layout.md's Phase 35 for the mechanism (precision-generic code).
[igemm_wrw_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 4
wmma_tile_m              = 16
wmma_repeat_m            = 4
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 4, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 128]
tensor_b_thread_lengths  = [1, 4, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 128]
direction                = "wrw"
precision                = "fp32"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
wmma_m_tail              = 1
wmma_n_tail              = 1
lds_double_buffer        = 1

#########################################################################################
#--------------------------- 64x64x4, non-atomic epilogue + Phase 35 M/N-tail relief
[igemm_wrw_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 64
gemm_k_per_block         = 4
wmma_tile_m              = 16
wmma_repeat_m            = 2
wmma_tile_n              = 16
wmma_repeat_n            = 4
tensor_a_thread_lengths  = [1, 4, 1, 1]
tensor_a_cluster_lengths = [1, 1, 1, 64]
tensor_b_thread_lengths  = [1, 4, 1, 1]
tensor_b_cluster_lengths = [1, 1, 1, 64]
direction                = "wrw"
precision                = "fp32"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 0
wavefront_size           = 32
cumode                   = 0
wmma_m_tail              = 1
wmma_n_tail              = 1
lds_double_buffer        = 1
